.success{
    text-align: center;
    margin-top: 10%;
}

.EndMessage{
    color: grey;
}

.EndPageBtn{
    background-color: black;
    color: white;
    border-radius: 10px;
    
}

.EndPageBtn:hover{
    color: grey;
}