#qburst{
    color:aliceblue;
    padding-left: 1%;
}

.menubar{
  background-color: black;
}

.loginpage{
    margin-top: 0;
}

.signin{
    text-align: center;
    color: rgb(94, 92, 92);
    margin-top: 4%;
}

.labellogin{
    color: rgb(80, 79, 79);
}

.InputLogin{
    border-radius: 20px;
    border:groove;
    width: 250px;
    
}

.InputLogin::placeholder{
    text-align: center;
}

.login-container{
    text-align: center;
     border-style: groove;
    width: 30%; 
    margin-left: 35%;
    border-radius: 10px;
    
    padding-top: 2%;
    background-color: rgba(232, 241, 238, 0.986);
}

#loginbtn{
    width: 20%;
    background-color: rgb(14, 13, 13);
    margin-top: 0.5%;
    margin-bottom: 1%;
    color: white;
    border-radius: 10px;
    border: black;
}

#loginbtn:hover{
    color: grey;
}

.googleauth{
    padding-bottom: 5%;
    padding-right: 30%;
    padding-left: 30%;
}

.signUpMessage{
   font-style: oblique;
   color: rgb(31, 30, 30);
}

.signUpAnchor{
    text-decoration: none;
}
